.git
.github
.codex
.agents
[Dd][Ee][Vv][Oo][Pp][Ss][Oo][Bb][Ss][Ii][Dd][Ii][Aa][Nn].[Tt][Xx][Tt]
**/[Dd][Ee][Vv][Oo][Pp][Ss][Oo][Bb][Ss][Ii][Dd][Ii][Aa][Nn].[Tt][Xx][Tt]
.env
.env.*
vendor
node_modules
tests
storage/**
bootstrap/cache/*.php
public/storage
public/hot
public/build
database/*.sqlite*
*.sql
*.log
*.zip
