APP_NAME=Obsidian
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=sqlite
DB_DATABASE=database/database.sqlite
DB_FOREIGN_KEYS=true

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120
LOG_CHANNEL=stack
LOG_LEVEL=debug

MAIL_MAILER=log
MAIL_FROM_ADDRESS=local@localhost
MAIL_FROM_NAME="Obsidian Local"

API_LOGIN_ID=
TRANSACTION_KEY=
TOMORROWIO_KEY=
ADMIN_EMAIL=local@localhost

WINDSPEED_LIMIT=0
PAGINATION_SIZE=10
